# Arquivos de Cache e Temporários
/.cache/
/runner/
/html5game/
/proxy/

# Configurações Locais do Usuário (NUNCA envie estas)
# Contém caminhos de pastas e preferências da sua máquina
local_settings.json
/options/main/inherited/

# Saídas de Compilação (Builds)
*.yyz
*.zip
*.tar.gz
*.apk
*.ipa
*.exe
*.app

# Logs e arquivos de depuração
ui.log
config.log
cmd_log.txt
http_log.txt

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db